.resume {
  padding: 25px 0 0;
}

.resume__title {
  margin-left: 45px;
  margin-bottom: 20px;
  padding-top: 25px;
}

.content__resume {
  margin-left: 45px;
}

.content__resume__item:not(:last-child) {
  margin-bottom: 10px;
}

.content__resume__list {
  list-style-position: inside;
  list-style-type: "– ";
}
