.content__resume {
  margin-left: 45px;
}

.content__resume__item {
  margin-bottom: 10px;
}

.content__resume__item:last-child {
  margin-bottom: 25px;
}

.content__resume__list {
  list-style-position: inside;
  list-style-type: "– ";
}
